<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-agi-san-pd-aqdpdf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/902780bf-de1e-44ac-837d-d5410cbd7f79/resourceGroups/AGI-SAN-PD-RG-AQD-001/providers/Microsoft.Web/sites/func-AGI-SAN-PD-AQDPDF</ResourceId>
    <UserName>$func-AGI-SAN-PD-AQDPDF</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://func-agi-san-pd-aqdpdf.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>